<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Select products:</h3>
                
                <form id="selectUsers" role="search" method="get" action="{% url 'select' %}">
                    
                    <select name="select_user" data-placeholder="Choose products" class="chosen-select" multiple tabindex="10" style="width: 600px;">
                        {% for display in all_info %}
                            
                            {% if display.blue_flag_temp == "True" %}

                                <option value="{{ display.id }}" id="op_nic" style="background-color: rgb(99, 148, 212);"> {{display.id}} | {{display.full_name_temp}} </option>

                            {% endif %}

                            {% if display.blue_flagadd_temp == "True" %}
                    
                                <option value="{{ display.id }}" id="op_nic" style="background-color: rgb(76, 250, 105);"> {{display.id}} | {{display.full_name_temp}} </option>

                            {% endif %}

                            {% if display.red_flag_temp == "True" %}

                                <option value="{{ display.id }}" id="op_nic" style="background-color: rgb(245, 129, 129);"> {{display.id}} | {{display.full_name_temp}} </option>
                                    
                            {% endif %}
                                
                            {% if display.red_flag_temp != "True" and display.blue_flagadd_temp != "True" and display.blue_flag_temp != "True" %}

                                <option value="{{ display.id }}" id="op_nic"> {{display.id}} | {{display.full_name_temp}} </option>
                                    
                            {% endif %}
                                
                            
                                
                                
                            
                        {% endfor %}
                    </select><br/>
                    <label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row"></div><br />
            <h3> Distribution of sales in the products:</h3>
        </div>
    </div>
    {% for p in userList %}
        {% for pin in all_info %}
        <p>{{pin.id}}  {{p}}</p>
            
            {% if p == pin.id|stringformat:"s" %}
                <p>{{pin.id|stringformat:"s"}}  {{p}}</p>
                <p>exists</p>
            {% else %} 
                
            {% endif %}
        {% endfor %}
    {% endfor %}

    <p>{{ productList }}</p>
    
    
</body>
</html>
