{% extends "layouts/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'kyc/css/update_history.css' %}">
    <script src="{% static 'kyc/js/index_min.js' %}" type="text/javascript"></script>

    <title>Update Admin</title>
</head>

<body style="background: url({% static 'kyc/img/7.jpg' %}) no-repeat fixed; background-position: center;background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <div class="#">

                    <h2><center>Search Using NIC number</center></h2>
                    <br>

                    <form id="selectUsers" role="search" method="get" action="{% url 'update_history' %}">

                        <table>
                            
                            <input type="number" id="fname" name="idval" placeholder="NIC number" required>
                              
                        </table>

                        <div style="padding-top:20px"></div>

                        <table>
                            <select name="select_user" data-placeholder="Choose Filter" style="width: 100%">
                                <option value="0001">Salutation</option>
                                <option value="0002">Name with initials</option> 
                                <option value="0003">Name in full</option> 
                                <option value="0004">Id type</option> 
                                <option value="0005">NIC NO</option> 
                                <option value="0006">Date of birth</option> 
                                <option value="0007">Driving licence</option> 
                                <option value="0008">Driving licence Expire</option> 
                                <option value="0009">Passport number</option> 
                                <option value="0010">Passport number expire</option> 
                                <option value="0011">Birth certificate No</option>
                                <option value="0012">Postal ID</option> 
                                <option value="0013">OAFSC</option>
                                <option value="0014">Copy of Visa</option>
                                <option value="0015">Identity recognition</option>
                                <option value="0016">Nationality</option>
                                <option value="0017">Other Nationality</option>
                                <option value="0018">Type of Visa</option>
                                <option value="0019">Visa Expiration Date</option>
                                <option value="0020">If other please specify</option>
                                <option value="0021">Expiration Date</option>
                                <option value="0022">Foreign Address</option>
                                <option value="0023">Verification doc type</option>
                                <option value="0024">Country of residence</option>
                                <option value="0025">House number</option>
                                <option value="0026">Street</option>
                                <option value="0027">City</option>
                                <option value="0028">Postal code</option>
                                <option value="0029">State of the address</option>
                                <option value="0030">Mobile number</option>
                                <option value="0031">Office phone number</option>
                                <option value="0032">Home phone number</option>
                                <option value="0033">Email address</option>

                                

                            </select>
                            <br><br>
                            <center><label for="submit"></label><button id="submit" type="submit" class="btn btn-primary">Submit</button></center>

                        </table>

                    
                    </form>
                </div>
            
            </div>

            
            <div class="col-12 col-sm-12 col-md-8" style="overflow: scroll;">
                <h2><center>Updated Records</center></h2>
                <br>
                            
                            
                <table class="table table-bordered">
                    {% for display,r,q in ziped %}
                        {% if r != '' %}
                            <tr>
                                <th scope="col">History Date </th>
                                <th scope="col">History Id</th>
                                <th scope="col">History Status</th>
                                <th scope="col">
                                        {% if q|stringformat:"s" == "0001" %}
                                                Salutation
                                        {% elif q|stringformat:"s" == "0002" %}
                                                Name with initials
                                        {% elif q|stringformat:"s" == "0003" %}
                                                Name in full
                                        {% elif q|stringformat:"s" == "0004" %}
                                                Id type
                                        {% elif q|stringformat:"s" == "0005" %}
                                                NIC NO
                                        {% elif q|stringformat:"s" == "0006" %}
                                                Date of birth
                                        {% elif q|stringformat:"s" == "0007" %}
                                                Driving licence
                                        {% elif q|stringformat:"s" == "0008" %}
                                                Driving licence Expire
                                        {% elif q|stringformat:"s" == "0009" %}
                                                Passport number
                                        {% elif q|stringformat:"s" == "0010" %}
                                                Passport number expire
                                        {% elif q|stringformat:"s" == "0011" %}
                                                Birth certificate No
                                        {% elif q|stringformat:"s" == "0012" %}
                                                Postal ID
                                        {% elif q|stringformat:"s" == "0013" %}
                                                OAFSC
                                        {% elif q|stringformat:"s" == "0014" %}
                                                Copy of Visa
                                        {% elif q|stringformat:"s" == "0015" %}
                                                Identity recognition
                                        {% elif q|stringformat:"s" == "0016" %}
                                                Nationality
                                        {% elif q|stringformat:"s" == "0017" %}
                                                Other Nationality
                                        {% elif q|stringformat:"s" == "0018" %}
                                                Type of Visa
                                        {% elif q|stringformat:"s" == "0019" %}
                                                Visa Expiration Date
                                        {% elif q|stringformat:"s" == "0020" %}
                                                If other please specify
                                        {% elif q|stringformat:"s" == "0021" %}
                                                Expiration Date
                                        {% elif q|stringformat:"s" == "0022" %}
                                                Foreign Address
                                        {% elif q|stringformat:"s" == "0023" %}
                                                Verification doc type
                                        {% elif q|stringformat:"s" == "0024" %}
                                                Country of residence
                                        {% elif q|stringformat:"s" == "0025" %}
                                                House number
                                        {% elif q|stringformat:"s" == "0026" %}
                                                Street
                                        {% elif q|stringformat:"s" == "0027" %}
                                                City
                                        {% elif q|stringformat:"s" == "0028" %}
                                                Postal code
                                        {% elif q|stringformat:"s" == "0029" %}
                                                State of the address
                                        {% elif q|stringformat:"s" == "0030" %}
                                                Mobile number
                                        {% elif q|stringformat:"s" == "0031" %}
                                                Office phone number
                                        {% elif q|stringformat:"s" == "0032" %}
                                                Home phone number
                                        {% elif q|stringformat:"s" == "0033" %}
                                                Email address
                                        
                                        {% endif %}
                                </th>
                            </tr>
                        {% endif %}
                    {% endfor %}
            
                    {% for p,q in searched_nic %}
                        {% for display in all_info %}
                            {% if p == display.nics_no_temp|stringformat:"s" %}
                    
                
                                <tr class="table">
                                    
                                    <td class="#">{{display.history_date}}</td>
                                    <td class="#">{{display.history_id}}</td>
                                    
                                    {% if display.history_type == '+' %}
                                        <td class="#">Created</td>
                                    {% elif display.history_type == '~' %}
                                        <td class="#">Updated</td>
                                    {% else %}
                                        <td class="#">Deleted</td>
                                    {% endif %}

                                    <th scope="row" class="#">

                                    {% if q|stringformat:"s" == "0001" %}
                                        {{display.salutation_temp}}
                                    {% elif q|stringformat:"s" == "0002" %}
                                        {{display.full_name_temp}}
                                    {% elif q|stringformat:"s" == "0003" %}
                                        {{display.name_init_temp}}
                                    {% elif q|stringformat:"s" == "0004" %}
                                            {{display.id_type_temp}}
                                    {% elif q|stringformat:"s" == "0005" %}
                                            {{display.nics_no_temp}}
                                    {% elif q|stringformat:"s" == "0006" %}
                                            {{display.date_of_birth_temp}}
                                    {% elif q|stringformat:"s" == "0007" %}
                                            {{display.driv_lic_temp}}
                                    {% elif q|stringformat:"s" == "0008" %}
                                            {{display.driv_exp_temp}}
                                    {% elif q|stringformat:"s" == "0009" %}
                                            {{display.pass_no_temp}}
                                    {% elif q|stringformat:"s" == "0010" %}
                                            {{display.pass_exp_temp}}
                                    {% elif q|stringformat:"s" == "0011" %}
                                            {{display.birth_cernum_temp}}
                                    {% elif q|stringformat:"s" == "0012" %}
                                            {{display.post_id_temp}}
                                    {% elif q|stringformat:"s" == "0013" %}
                                            {{display.oafsc_temp}}
                                    {% elif q|stringformat:"s" == "0014" %}
                                            {{display.visa_copy_temp}}
                                    {% elif q|stringformat:"s" == "0015" %}
                                            {{display.othe_identity_doc_temp}}
                                    {% elif q|stringformat:"s" == "0016" %}
                                            {{display.nationality_temp}}
                                    {% elif q|stringformat:"s" == "0017" %}
                                            {{display.nationality_other_temp}}
                                    {% elif q|stringformat:"s" == "0018" %}
                                            {{display.type_of_visa_temp}}
                                    {% elif q|stringformat:"s" == "0019" %}
                                            {{display.visa_exp_temp}}
                                    {% elif q|stringformat:"s" == "0020" %}
                                            {{display.other_types_temp}}
                                    {% elif q|stringformat:"s" == "0021" %}
                                            {{display.other_exp_temp}}
                                    {% elif q|stringformat:"s" == "0022" %}
                                            {{display.foreign_addre_temp}}
                                    {% elif q|stringformat:"s" == "0023" %}
                                            {{display.vari_doc_type_temp}}
                                    {% elif q|stringformat:"s" == "0024" %}
                                            {{display.country_resident_temp}}
                                    {% elif q|stringformat:"s" == "0025" %}
                                            {{display.house_no_temp}}
                                    {% elif q|stringformat:"s" == "0026" %}
                                            {{display.street_temp}}
                                    {% elif q|stringformat:"s" == "0027" %}
                                            {{display.city_temp}}
                                    {% elif q|stringformat:"s" == "0028" %}
                                            {{display.postal_code_temp}}
                                    {% elif q|stringformat:"s" == "0029" %}
                                            {{display.state_address_temp}}
                                    {% elif q|stringformat:"s" == "0030" %}
                                            {{display.mob_no_temp}}
                                    {% elif q|stringformat:"s" == "0031" %}
                                            {{display.office_num_temp}}
                                    {% elif q|stringformat:"s" == "0032" %}
                                            {{display.home_num_temp}}
                                    {% elif q|stringformat:"s" == "0033" %}
                                            {{display.email_add_temp}}
                                    
                                    {% endif %}
                                    
                                    
                                    
                                            
                                    </th>
                                    
                                    
                                </tr>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
    
                </table>


                            <!--<p>{{display.id|stringformat:"s"}}  {{p}}</p>
                            <p>exists</p>-->

                
                <!--<p>{{ productList }}</p>-->
                
                
            
                
            </div>
        </div>
    </div>


</body>
{% endblock content %}
</html>
