<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'kyc/css/edit.css' %}">
    <script src="{% static 'kyc/js/index_min.js' %}" type="text/javascript"></script>

    <title>existing Customer</title>
</head>

<body style="background: url({% static 'kyc/img/7.jpg' %}) no-repeat fixed; background-position: center;background-repeat: no-repeat; background-size: cover;"> 
    <div></div>

    <div class="container">
        <div>

            <center>
                <form method="post" action="/update/{{Kyc_Infotemp.id}}">
                    {% csrf_token %}

                    <div>

                    <div><h2>Existing Customer NIC number: {{Kyc_Infotemp.nics_no_temp}} </h2></div>
                    <br>

                    <hr>

                    <table class="next_use" style="width: 100%;">

                        <tr class="next_use control">
                            <td class="next_use">
                                <p>Id<br>
                                    <input type="text" name="id" value="{{Kyc_Infotemp.id}}" readonly>
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <p>Salutation<br>
                                    <input  type="text" name="salutation_temp" value="{{Kyc_Infotemp.salutation_temp}}">
                                </p>
                            </td>
                            

                            <td class="next_use">
                                <p class="red_mark">Name with initials<br>
                                    <input type="text" name="name_init_temp" value="{{Kyc_Infotemp.name_init_temp}}">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="next_use">
                                <p class="red_mark">Name in full<br>
                                    <input type="text" name="full_name_temp" value="{{Kyc_Infotemp.full_name_temp}}" readonly>
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Live Selfie<br>
                                    <img style="width:80px; height:50px" name="profile_pic_temp" src="{{Kyc_Infotemp.profile_pic_temp.url}}" accept="image/*" readonly></p>
                                <p> <input  type="text" name="profile_pic_temp" value="{{Kyc_Infotemp.profile_pic_temp}}" accept="image/*" readonly>
                                </p>
                            </td>
                        </tr>

                        <tr>

                            <td class="next_use">
                                <br>
                                <p>Live video<br>
                                    <input type="text" name="live_video_temp" value="{{Kyc_Infotemp.live_video_temp}}" readonly>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <br>
                    <hr>

                    <table class="next_use" style="width: 100%;">

                        <tr class="next_use control">

                            <td class="next_use">
                                <p>Id type<br>
                                    <input type="text" name="id_type_temp" value="{{Kyc_Infotemp.id_type_temp}}" readonly>
                                </p>
                            </td>

                            <td class="next_use">
                                <p>NIC NO<br>
                                    <input type="number" name="nics_no_temp" value="{{Kyc_Infotemp.nics_no_temp}}" readonly>
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Date of birth<br>
                                    <input type="date"  name="date_of_birth_temp" value="{{Kyc_Infotemp.date_of_birth_temp}}" readonly>
                                </p>
                            </td>
                        </tr>
                        
                        <tr>
                            
                            <td class="next_use">
                                <br>
                                <p>Driving licence<br>
                                    <input type="number" name="driv_lic_temp" value="{{Kyc_Infotemp.driv_lic_temp}}">
                                </p>
                            </td>

                        
                            <td class="next_use">
                                <br>
                                <p>Driving licence Expire<br>
                                    <input type="text" name="driv_exp_temp" value="{{Kyc_Infotemp.driv_exp_temp}}">
                                </p>
                            </td>

                        </tr>
                        <tr>

                        
                            <td class="next_use">
                                <br>
                                <p>Passport number<br>
                                    <input type="number" name="pass_no_temp" value="{{Kyc_Infotemp.pass_no_temp}}">
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <br>
                                <p>Passport number expire<br>
                                    <input type="text" name="pass_exp_temp" value="{{Kyc_Infotemp.pass_exp_temp}}">
                                </p>
                            </td>

                                                    
                            
                        </tr>
                    </table>

                    <hr>

                    <br>

                    <table class="next_use" style="width: 100%;">
                        
                        <tr class="next_use control">

                            <td class="next_use">
                                <p>Birth certificate No<br>
                                    <input type="text" name="birth_cernum_temp" value="{{Kyc_Infotemp.birth_cernum_temp}}">
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Postal ID<br>
                                    <input type="text" name="post_id_temp" value="{{Kyc_Infotemp.post_id_temp}}">
                                </p>
                            </td>
                        
                        </tr>
                        <tr>
                        
                            <td class="next_use">
                                <p>OAFSC<br>
                                    <input type="text" name="oafsc_temp" value="{{Kyc_Infotemp.oafsc_temp}}">
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Copy of Visa<br>
                                    <input type="text" name="visa_copy_temp" value="{{Kyc_Infotemp.visa_copy_temp}}">
                                </p>
                            </td>

                        </tr>
                        <tr>

                            <td class="next_use">
                                <p>Identity recognition<br>
                                    <input type="text" name="othe_identity_doc_temp" value="{{Kyc_Infotemp.othe_identity_doc_temp}}">
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <p>Nationality<br>
                                    <input type="text" name="nationality_temp" value="{{Kyc_Infotemp.nationality_temp}}">
                                </p>
                            </td>
                                                                           
                        </tr>
                    
                    </table>

                    <br>

                    <table class="next_use" style="width: 100%;">

                        <hr>
                    
                        <tr class="next_use control">

                            <td class="next_use">
                                <p>Other Nationality<br>
                                    <input type="text" name="nationality_other_temp" value="{{Kyc_Infotemp.nationality_other_temp}}">
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Type of Visa<br>
                                    <input type="text" name="type_of_visa_temp" value="{{Kyc_Infotemp.type_of_visa_temp}}">
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <p>Expiration Date<br>
                                    <input type="text" name="visa_exp_temp" value="{{Kyc_Infotemp.visa_exp_temp}}">
                                </p>
                            </td>

                        </tr>
                        <tr>

                            <td class="next_use">
                                <br>
                                <p>If other please specify<br>
                                    <input type="text" name="other_types_temp" value="{{Kyc_Infotemp.other_types_temp}}">
                                </p>
                            </td>

                            <td class="next_use">
                                <br>
                                <p>Expiration Date of other<br>
                                    <input type="text" name="other_exp_temp" value="{{Kyc_Infotemp.other_exp_temp}}">
                                </p>
                            </td>
                        </tr>

                        <tr>
                        
                            <td class="next_use">
                                <br>
                                <p>Foreign Address<br>
                                    <input type="text" name="foreign_addre_temp" value="{{Kyc_Infotemp.foreign_addre_temp}}" style="width:80%;">
                                </p>
                            </td>          
                            
                        </tr>

                    </table>

                    <br>
                    <hr>

                    <table class="next_use" style="width: 100%;">
                    
                        <tr class="next_use control">

                            <td class="next_use">
                                <p>Verification doc type<br>
                                    <input type="text" name="vari_doc_type_temp" value="{{Kyc_Infotemp.vari_doc_type_temp}}">
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Verification document<br>
                                    <img style="width:80px; height:50px" name="profile_pic_temp" src="{{Kyc_Infotemp.vari_doc_temp.url}}" accept="image/*" readonly></p>
                                    <p> <input type="text" name="vari_doc_temp" value="{{Kyc_Infotemp.vari_doc_temp}}" readonly>
                                </p>
                            </td>
                        
                        </tr>
                        <tr>
                        
                            <td class="next_use">
                                <p>PEP<br>
                                    <input type="text" name="pep_person_temp" value="{{Kyc_Infotemp.pep_person_temp}}">
                                </p>
                            </td>

                        

                            <td class="next_use">
                                <p>US citizen<br>
                                    <input type="text" name="us_city_temp" value="{{Kyc_Infotemp.us_city_temp}}">
                                </p>
                            </td>
                        
                        </tr>
                    </table>

                    <br>
                    <hr>
                    
                    <table class="next_use" style="width: 100%;">
                        <tr>

                            
                            <td class="next_use">
                                <p>Resident of Sri Lanka?<br>
                                    <input type="text" name="resident_sri_temp" value="{{Kyc_Infotemp.resident_sri_temp}}">
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <p>Country of residence<br>
                                    <input type="text" name="country_resident_temp" value="{{Kyc_Infotemp.country_resident_temp}}">
                                </p>
                            </td>
                                                                    
                        </tr>

                    </table>


                    <br>
                    
                    <table class="next_use" style="width: 100%;">

                        <tr class="next_use control">

                        
                            <td class="next_use">
                                <p>House number Permanent<br>
                                    <input type="text" name="house_no_per_temp" value="{{Kyc_Infotemp.house_no_per_temp}}" readonly >
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Street Permanent<br>
                                    <input type="text" name="street_per_temp" value="{{Kyc_Infotemp.street_per_temp}}" readonly >
                                </p>
                            </td>

                            <td class="next_use">
                                <p>City Permanent<br>
                                    <input type="text" name="city_per_temp" value="{{Kyc_Infotemp.city_per_temp}}" readonly >
                                </p>
                            </td>

                        </tr>
                        <tr>
                            
                            <td class="next_use">
                                <p>Postal code Permanent<br>
                                    <input type="text" name="postal_code_per_temp" value="{{Kyc_Infotemp.postal_code_per_temp}}" readonly >
                                </p>
                            </td>

                            
                                                    
                        </tr>
                    </table>

                    <br>
                    <hr>

                    <table class="next_use" style="width: 100%;">
                        <tr class="next_use control">
                            <td>
                                <p>Current address Information</p>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="next_use">
                                <p class="blue_mark green_mark red_mark">House number<br>
                                    <input type="text" name="house_no_temp" value="{{Kyc_Infotemp.house_no_temp}}" readonly >
                                </p>
                            </td>

                            <td class="next_use">
                                <p class="blue_mark green_mark red_mark">Street<br>
                                    <input type="text" name="street_temp" value="{{Kyc_Infotemp.street_temp}}" readonly >
                                </p>
                            </td>

                            <td class="next_use">
                                <p class="blue_mark green_mark red_mark">City<br>
                                    <input type="text" name="city_temp" value="{{Kyc_Infotemp.city_temp}}" readonly >
                                </p>
                            </td>

                        </tr>
                        <tr>

                            <td class="next_use">
                                <p>Postal code<br>
                                    <input type="text" name="postal_code_temp" value="{{Kyc_Infotemp.postal_code_temp}}" readonly>
                                </p>
                            </td>

                            <td class="next_use">
                                <p>State of the Current address<br>
                                    <input type="text" name="state_address_temp" value="{{Kyc_Infotemp.state_address_temp}}">
                                </p>
                            </td>
                        
                        </tr>
                        
                    </table>
                    
                    <br>
                    <hr>

                    <table class="next_use" style="width: 100%;">

                        <tr class="next_use control">
                            <td>
                                <p>Contact Information</p>
                            </td>
                            <td></td>
                        </tr>

                        <tr>

                            <td class="next_use">
                                <p>Mobile number<br>
                                    <input type="number" name="mob_no_temp" value="{{Kyc_Infotemp.mob_no_temp}}" readonly >
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <p>Office phone number<br>
                                    <input type="number" name="office_num_temp" value="{{Kyc_Infotemp.office_num_temp}}">
                                </p>
                            </td>

                            <td class="next_use">
                                <p>Home phone number<br>
                                    <input type="number" name="home_num_temp" value="{{Kyc_Infotemp.home_num_temp}}">
                                </p>
                            </td>
                        
                            
                        </tr>

                        <tr class="next_use control">

                            

                            <td class="next_use">
                                <p>Email address<br>
                                    <input type="text" name="email_add_temp" value="{{Kyc_Infotemp.email_add_temp}}" readonly >
                                </p>
                            </td>
                        
                            

                        </tr>

                        <tr class="next_use control">

                            
                        

                            <td class="next_use">
                                <br>
                                <p>Email Verification<br>
                                    <input type="text" name="email_add_verification" value="{{Kyc_Infotemp.email_add_verification}}" readonly >
                                </p>
                            </td>

                        </tr>
                        
                    </table>

                    <br>
                    <hr>

                    <table class="next_use" style="width: 100%;">
                        <tr>
                        
                            <td class="next_use">
                                <p class="red_mark">RED flaged<br>
                                    <input type="text" name="red_flag_temp" value="{{Kyc_Infotemp.red_flag_temp}}" readonly>
                                </p>
                            </td>
                        
                            <td class="next_use">
                                <p class="green_mark">Green flaged<br>
                                    <input type="text" name="blue_flagadd_temp" value="{{Kyc_Infotemp.blue_flagadd_temp}}" readonly>
                                </p>
                            </td>
                      
                            <td class="next_use">
                                <p class="blue_mark">Blue flaged<br>
                                    <input type="text" name="blue_flag_temp" value="{{Kyc_Infotemp.blue_flag_temp}}" readonly>
                                </p>
                            </td>
                        </tr>
                        



                    </table>
                    
                    <br>
                    
                    <input type="submit" name="update" value="update"/>
                    

                    <br><br>
                    
                    

                </form>


            </center>

        </div>

    </div>

</body>
</html>